services:
  app:
    build: .
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - db
      # - redis
    restart: unless-stopped
    networks:
      - app-network

  # PostgreSQL
  db:
    image: postgres:latest
    env_file:
      - .env
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    volumes:
      - postgres_data:/var/lib/postgresql
    restart: unless-stopped
    networks:
      - app-network

  # Redis
  # redis:
  #   image: redis:latest
  #   ports:
  #     - "${REDIS_PORT}:${REDIS_PORT}"
  #   volumes:
  #     - redis_data:/data
  #   restart: unless-stopped
  #   networks:
  #     - app-network

volumes:
  postgres_data:
  # redis_data:

networks:
  app-network:
    driver: bridge
